In [2]:
import pandas as pd

In [3]:
import chromalyzer

In [4]:
raw_sample = pd.read_csv('/usr/scratch/NASA/raw/230823_06_Jarosite_Soil_300uLDCM_100oC24h.csv')

In [8]:
M_Z = 30
threshold = 0.5
raw_sample[(raw_sample['M/Z'] > M_Z - threshold) & (raw_sample['M/Z'] < M_Z + threshold)]

,Spectrum,1st Time (s),2nd Time (s),TOF,M/Z,Area,Resolution
0,0,2200.00,0.000,117248.168,30.00884,376.00,10720
1,0,2200.00,0.000,117313.340,30.04225,49.44,11552
131,1,2200.00,0.008,117248.145,30.00883,393.50,10048
132,1,2200.00,0.008,117313.531,30.04235,66.88,11232
273,2,2200.00,0.016,117248.105,30.00881,403.50,9536
...,...,...,...,...,...,...,...
203195408,1044998,10557.04,2.944,117299.484,30.03514,27.22,12384
203195409,1044998,10557.04,2.944,117313.004,30.04208,301.00,12576
203195726,1044999,10557.04,2.952,117248.004,30.00875,1486.00,13920
203195727,1044999,10557.04,2.952,117299.438,30.03512,28.00,12256
203195728,1044999,10557.04,2.952,117312.969,30.04206,312.50,12800

In [10]:
raw_sample

,Spectrum,1st Time (s),2nd Time (s),TOF,M/Z,Area,Resolution
0,0,2200.00,0.000,117248.168,30.00884,376.00,10720
1,0,2200.00,0.000,117313.340,30.04225,49.44,11552
2,0,2200.00,0.000,119162.816,30.99811,2952.00,20704
3,0,2200.00,0.000,121051.137,31.98950,5944.00,17760
4,0,2200.00,0.000,121114.773,32.02318,76.88,15968
...,...,...,...,...,...,...,...
203196043,1044999,10557.04,2.952,439384.430,422.17132,24.34,35712
203196044,1044999,10557.04,2.952,441359.938,425.97731,52.38,25728
203196045,1044999,10557.04,2.952,442966.852,429.08576,19.44,33120
203196046,1044999,10557.04,2.952,460617.766,463.97393,142.00,29440
203196047,1044999,10557.04,2.952,461114.430,464.97534,28.03,33920

In [11]:
def heatmap(df : pd.DataFrame, first_time_column_name : str = '1st Time (s)', second_time_column_name : 
            str = '2nd Time (s)', area_column_name : str = 'Area') -> pd.DataFrame:
    # Create heatmap data and then transpose it
    heatmap_data = df.pivot_table(values=area_column_name, index=first_time_column_name, columns=second_time_column_name, aggfunc='sum').T
    heatmap_data.fillna(0, inplace=True)
    # Reverse the order of rows to rotate 90 degrees counter-clockwise
    heatmap_data = heatmap_data.iloc[::-1]
    return heatmap_data

In [12]:
heatmap(raw_sample)

1st Time (s),2200.000,2203.504,2207.008,2210.512,2214.016,2217.520,2221.024,2224.528,2228.032,2231.536,...,10525.504,10529.008,10532.512,10536.016,10539.520,10543.024,10546.528,10550.032,10553.536,10557.040
2nd Time (s),,,,,,,,,,,,,,,,,,,,,
3.504,102271.42,106637.70,0.00,0.00,105051.55,102278.88,101687.46,0.00,0.00,104079.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3.496,102237.43,106799.72,107582.72,108742.19,105012.88,102918.65,101594.57,100131.03,100013.78,104734.99,...,163743.09,168725.44,165255.83,166621.83,162656.05,164762.40,166013.54,167092.49,163376.60,0.00
3.488,102651.42,107070.01,106995.87,109545.74,105229.35,103347.12,101618.88,100341.08,100335.76,104957.65,...,164710.23,168578.40,164449.74,166219.71,161829.61,164613.21,165981.64,166384.78,163988.92,0.00
3.480,103162.35,107171.23,106686.08,110064.11,105307.38,103820.25,101865.96,100325.58,100385.67,104481.10,...,165384.24,168741.67,164543.78,166119.17,162493.79,164990.54,165935.23,166028.23,164798.94,0.00
3.472,103730.19,107385.10,106697.96,110503.52,105841.87,103487.22,101655.62,100540.82,100379.54,104143.80,...,165628.57,168493.42,164446.10,165542.95,163016.27,164605.44,165374.50,165503.70,165136.20,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.032,104669.31,102888.89,105243.32,106362.68,109526.52,105334.45,103046.47,101950.18,99410.62,100439.76,...,165054.99,161670.04,166653.01,167325.36,165869.19,167066.07,164021.33,165818.16,166753.21,163766.23
0.024,104892.07,102676.31,105952.83,106931.52,108375.64,105230.00,103077.03,102053.54,99200.28,99893.88,...,164531.17,161893.02,167291.66,167532.48,165852.01,166384.55,164100.15,165631.25,167391.30,163820.39
0.016,104942.87,102554.14,105799.61,107396.68,108862.55,105158.24,102500.17,102084.86,98889.45,99825.37,...,164241.73,162329.87,168102.88,167070.40,166100.95,164761.03,164893.43,165615.01,167786.18,163962.11
0.008,104674.12,102435.63,106207.96,107994.98,108845.42,105008.51,102420.69,101913.36,99062.59,99882.97,...,164109.21,163097.60,168205.20,166470.88,166269.03,163731.43,164918.31,165791.60,167695.76,164069.17
0.000,105023.60,0.00,0.00,107919.08,108790.73,0.00,0.00,0.00,99681.72,100140.66,...,163546.47,163398.99,168601.14,166164.47,166801.68,163385.37,164682.65,165765.55,167207.14,163498.48

In [22]:
pd.read_csv('data/all_mz_values.csv').drop(columns=['Unnamed: 0'])

       M/Z
0     30.0
1     31.0
2     32.0
3     33.0
4     34.0
..     ...
666  696.0
667  697.0
668  698.0
669  699.0
670  700.0

[671 rows x 1 columns]